# .env.example
# For local development
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# For deployments (uncomment one when needed)
# NEXT_PUBLIC_SITE_URL=https://krittimat.vercel.app
# NEXT_PUBLIC_SITE_URL=https://krittimat.netlify.app

# These are used for auto-detection
NEXT_PUBLIC_NETLIFY_URL=https://krittimat.netlify.app
NEXT_PUBLIC_VERCEL_URL=https://krittimat.vercel.app